header#top
	#header_logo Toolshed
	#slogan Useful. Free. Tools.

#content
	-each app in apps
		.mosaic-block.bar
			.mosaic-overlay
				.details
					span.appname #{app.name}
					p #{app.blurb}
					p More Info
					case os
						when 'windows'
							a.button.mosaic-button(href="#{app.download.windows}") Download
						when 'mac'
							a.button.mosaic-button(href="#{app.download.mac}") Download
						default
							a.button.mosaic-button(href="#{app.download.other}") Download
			.mosaic-backdrop
				img(src="#{app.icon}")

footer#bottom &copy 2012 Taylor O'Brien

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/javascripts/mosaic.1.0.1.min.js')
script(src='/javascripts/main.js')