mixin field(type, name, label)
	li
		<label for="#{name}">#{label}</label>
		if type == 'textarea'
			textarea(name="#{name}", id="#{name}", rows=20)
		else
			input(type=type, name="#{name}", id="#{name}")

include global/header

form#addform(method="post")
	ul
		mixin field('text', 'name', 'Name')
		mixin field('text', 'blurb', 'Blurb')
		mixin field('text', 'download-windows', 'Download (Windows)')
		mixin field('text', 'download-mac', 'Download (Mac)')
		mixin field('text', 'download-other', 'Download (Other)')
		mixin field('text', 'icon', 'Icon')
		mixin field('textarea', 'info', 'Info')

	a.button#appsubmit() Submit

include global/footer