mixin field(type, name, label, focus)
	li
		.field
			if type != 'submit'
				<label for="#{name}">#{label}</label>
			else
				<label>&nbsp;</label>
			if type == 'textarea'
				if focus
					textarea(name="#{name}", id="#{name}", rows=10, autofocus="autofocus")
				else
					textarea(name="#{name}", id="#{name}", rows=10)
			else if type == 'submit'
				a.button(id="#{name}")#{label}
			else
				if focus
					input(type=type, name="#{name}", id="#{name}", autofocus="autofocus")
				else
					input(type=type, name="#{name}", id="#{name}")

include global/header

form#addform(method="post")
	ul
		mixin field('text', 'name', 'Name', 'autofocus')
		mixin field('text', 'blurb', 'Blurb')
		mixin field('text', 'download-windows', 'Download (Windows)')
		mixin field('text', 'download-mac', 'Download (Mac)')
		mixin field('text', 'download-other', 'Download (Other)')
		mixin field('text', 'icon', 'Icon')
		mixin field('textarea', 'info', 'Info')
		mixin field('submit','appsubmit','Submit')

include global/footer