mixin field(type, name, label)
	li
		.field
			if type != 'submit'
				<label for="#{name}">#{label}</label>
			else
				<label></label>
			if type == 'textarea'
				textarea(name="#{name}", id="#{name}", rows=20)
			else if type == 'submit'
				a.button(id="#{name}")#{label}
			else
				input(type=type, name="#{name}", id="#{name}")

include global/header

form#addform(method="post")
	ul
		mixin field('text', 'name', 'Name')
		mixin field('text', 'blurb', 'Blurb')
		mixin field('text', 'download-windows', 'Download (Windows)')
		mixin field('text', 'download-mac', 'Download (Mac)')
		mixin field('text', 'download-other', 'Download (Other)')
		mixin field('text', 'icon', 'Icon')
		mixin field('textarea', 'info', 'Info')
		mixin field('submit','appsubmit','Submit')

include global/footer